div,
input,
textarea {
    box-sizing: border-box;

}

body {
    margin: 0px;
}

/* contact us */
.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    /* 꽉차게 하려고 width를 100%로 주면 옆으로 삐져나온다.
    이는 width가 content-box영역만 포함하기 때문이다. 때문에 실제로는 100% +20px 정도로 보인다.
    box-sizing: border-box; 속성을 주어 width가 padding과 border를 포함하게 해야 한다.
    근데 border-box는 다 들어가니 css파일 맨 위에 
    input {box-sizing: border-box;}
    textarea {box-sizing: border-box;}를 적어준다

    div, input, textarea {box-sizing: border-box;} 이렇게 써도 된다.
    
    */
    width: 100%;
    /* box-sizing: border-box; */

    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    /* display: block;
    margin-left: auto; */
    float: right;
}